#productView .productInfo input[type=text] {
    width: 30px;
}

#productView img {
    width: 75%;
    max-height: 100%;
}

#productView .articleDiscountedPrice {
    color: red;
}

#productView .artiklePrice {
    font-size: 1.2em;
    font-weight: bolder;
    /*margin-top: 15px;*/
    margin-bottom: 2px;
}

#productView .artikleRow {
    border-top: 1px solid #d3d3d3;
    margin-top: 15px;
    margin-bottom: 10px;
}

#productView .atricleOptions {
    font-size: 1.3em;
}

#productView .artikleOrignialPrice {
    text-decoration: line-through;
}

